/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:fdfb42cfc7b5128027071afb860fb6e1:ca3e0176bc6f7a2db2880524c388e976:4bc6f17e30fa8f9ae7a19a08abd955de$
   ----------------------------------------------------

   usage: <span class="{-spritename-} randomObject"></span>

   replace {-spritename-} with the sprite you like to use

*/

.randomObject {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('../img/RandomItemImages.png');z-index:1;-webkit-transform: translateX(0px) translateY(0px) translateZ(0px);position: absolute;}

.badge_1000001 {width:135px; height:166px; background-position: -1219px -1009px}
.balls_bunch {width:487px; height:223px; background-position: -717px -1236px}
.chest_100 {width:500px; height:369px; background-position: -717px -865px}
.keys {width:204px; height:116px; background-position: -1206px -1314px}
.pencil_100 {width:142px; height:135px; background-position: -1219px -1177px}
.pie0001 {width:225px; height:157px; background-position: -1172px -1461px}
.sandwich {width:194px; height:142px; background-position: -1219px -865px}
.shark_1000001 {width:713px; height:532px; background-position: -2px -865px}
.shoe_shadow {width:231px; height:149px; background-position: -1172px -1620px}
.spidercat {width:392px; height:365px; background-position: -537px -1461px}
.stinky_sock {width:239px; height:296px; background-position: -931px -1461px}
.tentacles {width:533px; height:469px; background-position: -2px -1399px}
.ufo_100 {width:1411px; height:861px; background-position: -2px -2px}
.dino {display:inline-block; overflow:hidden; background-repeat: no-repeat; width:2719px;height:2431px;background-image:url('../img/dino.png');z-index:1;-webkit-transform: translateX(0px) translateY(0px) translateZ(0px);position: absolute;}