/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:310e5acd546910cd072d23f6ce01cf66:135bfa5dde9409831e99c11eb0697cf8:70b9db4ef9e2c5f4baff1a326087f3af$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.cactus0002 {width:219px; height:497px; background-position: -704px -2px;background-image:url('../img/RandomItemsDesert.png')}
.camel {width:700px; height:542px; background-position: -2px -2px;background-image:url('../img/RandomItemsDesert.png')}
.kitten_sphynx {width:500px; height:461px; background-position: -2px -546px;background-image:url('../img/RandomItemsDesert.png')}
.rock {width:345px; height:193px; background-position: -504px -546px;background-image:url('../img/RandomItemsDesert.png')}
